.container {
	display: grid;
	grid-template-columns: [col1] 100% ;
	grid-gap: 0px;
	grid-template-rows: [row1] 50% [row2] 50%;
	text-align: center;
	color: #FFF;
}

.grid-cell-1 {
	padding: 5px;
	border-radius: 6px;
    grid-row: 1 / 2;
}
